body{
    background-color: aqua;
    background-image: url(Images/tlo.avif);
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}
main{
    width: 1100px;
}
button{
    width: 125px;
    height: 80px;
    margin:10px;
    background-image: url(Images/button.webp);
    border: 0;
    color: gold;
    font-weight: 900;
    border-radius: 10px;
}
input:hover{
    opacity: 0.8;
}
button:hover{
    opacity: 0.8;
}
input{
    width: 140px;
    height: 80px;
    margin:5px;
    color: gold;
    background-image: url(Images/button.webp);
    font-weight: 900;
    border: 0;
    font-size: 17px;
    border-radius: 10px;
}
h1{
    color: goldenrod;
    font-size: 20px;
    text-align: center;
}
#container{
    margin-left: 50px;
    float: left;
    max-width: 1000px;
}
#container_2{
    width: 200px;

}
#column_1{
    float: left;
}
#column_2{
    float: left;
}
#column_3{
    float: left;
}
#column_4{
    float: left;
}
#column_5{
    float: left;
}

#druzyny{
    float: right;
}

#odpowiedz{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    position: absolute;
    background-color: blue;
    color: gold;
    width: 800px;
    height: 470px;
    border-radius: 20px;
    padding: 10px;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    display: None;

}
#Druzyna_1{
    font-size: 22px;
    text-align: center;
}
#Druzyna_2{
    font-size: 22px;
    text-align: center;
}
#Druzyna_3{
    font-size: 22px;
    text-align: center;
}
#Druzyna_4{
    font-size: 22px;
    text-align: center;
}

#final{
    font-size: 25px;
    text-align: center;
    position: absolute;
    width: 600px;
    height: 270px;
    border-radius: 20px;
    padding: 10px;
    top: 50%;  
    left: 40%;  
    transform: translate(-50%, -50%);
    display: none;
}
#naglowek_final{
    font-size: 25px;
    text-align: center;
    position: absolute;
    width: 600px;
    height: 270px;
    border-radius: 20px;
    padding: 10px;
    top: 40%;
    left: 40%;  
    transform: translate(-50%, -50%);
    display: none;
}